{% extends "styles.html.twig" %}

{% block title %}
{% endblock %}

{% block body %}
	<div class="container">


		{{ form_start(form) }}


		<div class="form-group">
				{{ form_label(form.codemat) }}
				{{ form_widget(form.codemat) }}
				<div class="form-error">
					{{ form_errors(form.codemat) }}
				</div>
			</div>
			<br>

			<div class="form-group">
				{{ form_label(form.nommat) }}
				{{ form_widget(form.nommat) }}
				<div class="form-error">
					{{ form_errors(form.nommat) }}
				</div>
			</div>
			<br>

			

			<div class="form-group">
				{{ form_label(form.periode) }}
				{{ form_widget(form.periode) }}
				<div class="form-error">
					{{ form_errors(form.periode) }}
				</div>
			</div>
        
		<br>

		<div class="form-group">
				{{ form_label(form.unite) }}
				{{ form_widget(form.unite) }}
				<div class="form-error">
					{{ form_errors(form.unite) }}
				</div>
			</div>

			


		

			{{ form_row(form._token) }}
<br> 
 		<button type="submit" class="btn btn-outline-primary">{{ button_label|default('Enregister') }}</button>
		
		</form>
	</div>
{% endblock %}
