{% extends 'base.html.twig' %}
{% block title %}Etudiant index{% endblock %}

{% block body %}
   
<div class="container mt-4">
 <h1 style="text-align:center;text-decoration : underline solid 2px;">Resultat de la recherche d'etudiant</h1>
  <div class="count mt4">
  {% set nombre = etudiants.getTotalItemCount  %}
  {% if nombre > 1 %}
     <h4> il y a {{ etudiants.getTotalItemCount }} etudiants trouvés<h4>
  {% endif %}
   {% if nombre == 1 %}
     <h4>  voici le resultat de la recherche de l'etudiant<h4>
  {% endif %}
   
</div>
    <table class="table table-hover" id="ma-table">
        <thead >
            <tr >
                <th scope="col" >Numéro etudiant</th>
                <th scope="col">Nom</th>
                <th scope="col" >Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Sexe</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Dernier diplome</th>
                <th scope="col">Date d'inscription</th>
                <th scope="col">notes</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            
            <tr class="table-primary">
                <th scope="row">{{ etudiant.numetd }}</th>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.email }}</td>
                <td>{{ etudiant.sexe }}</td>
                <td>{{ etudiant.datnaiss ? etudiant.datnaiss|date('d-m-Y') : '' }}</td>
                <td>{{ etudiant.derdiplome }}</td>
                <td>{{ etudiant.dateinsc ? etudiant.dateinsc|date('d-m-Y') : '' }}</td>
                <td></td>
                <td style="display:flex;align-items: center;">
                 {% set codetu = etudiant.numetd %}
                   <button class="btn supp" data-url="{{ path('app_etudiant_hide', {'codetu':codetu }) }}"><i class="fa-solid fa-trash" style="color: #e01b24;"></i></button>                
                    <a href="{{ path('app_etudiant_edit', {'numetd': etudiant.numetd}) }}" title="Cliquer ici pour modifier les informations de  l'étudiant"><i class="fa-solid fa-pen" style="color: #1c71d8;"></i></a>
                     <button type="button" class="btn btn-primary show" data-toggle="modal" data-vue="{{ path('app_etudiant_show', {'numetd': etudiant.numetd}) }} "style="margin-left:7px;"><i class="fa-solid fa-eye" style="color: #e01b24;"></i></button>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="19">aucun etudiant n'a été trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {# display navigation #}
<div class="d-flex justify-content-center">
    <div class="navigation">
    {{ knp_pagination_render(etudiants) }}
    </div>
</div>
    <script>
    
   document.querySelectorAll(".supp").forEach(element=>{
      element.addEventListener('click', function() {
      const url = element.getAttribute('data-url');
  if(confirm("Êtes-vous sûr de vouloir supprimer cet élément ?"))
     window.location.href = url;
   })})

    document.querySelectorAll(".show").forEach(element=>{
      element.addEventListener('click', function() {
      const url = element.getAttribute('data-vue');
     window.location.href = url;
   })})
function retourPage() {
  window.history.back();
}

</script>
{% endblock %}
               